<mat-grid-list cols="2">
    <mat-grid-tile>
        <div class="home-name" style="color: black;">
            <p class="name">{{name}} <span class="surname">{{surname}}</span> </p>
            <p class="responsibility">
                {{roleResponsibity}}
            </p>

            <span><img class="htmlimg" src="../../assets/angular.png" alt="angular" mat-raised-button
                matTooltip="Strong Understanding Of Angular11"
                aria-label="Angular Icon"></span>
            <span><img class="htmlimg" src="../../assets/reactjs.png" alt="reactjs"></span>
            <span><img class="htmlimg" src="../../assets/aws.png" alt="aws"></span>
            <span><img class="htmlimg" src="../../assets/kubernetes.png" alt="kubernetes"></span>
            <span><img class="htmlimg" src="../../assets/docker.png" alt="docker"></span>
        </div>

    </mat-grid-tile>
    <mat-grid-tile>
        <div class="imgSide">
            <img src="../../assets/ashishImage.png" alt="">
        </div>
    </mat-grid-tile>
</mat-grid-list>

<!-- <div class="icon">
                <a href="https://twitter.com/ashish_vastav" target="blank" data-toggle="tooltip" data-placement="bottom" title="Twitter">

                    <i class="fab fa-twitter fa-2x element"></i>
                </a>
                <a href="https://www.linkedin.com/in/ashish1990/" target="blank" data-toggle="tooltip" data-placement="bottom" title="Linkedin">

                    <i class="fab fa-linkedin fa-2x icon-rotate"></i></a>

                <a href="https://github.com/ashishvastav" class="github" target="blank" data-toggle="tooltip" data-placement="bottom" title="Github">

                    <i class="fab fa-github fa-2x element"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100019056341588" target="blank" data-toggle="tooltip" data-placement="bottom" title="Facebook">

                    <i class="fab fa-facebook fa-2x icon-rotate"></i></a>

            </div> -->